@import "tailwindcss";

main {
    --background: #eeeeee;
    --foreground: #000000;
    --primary: #007acc;

    --sans: "Arial", sans-serif;
}

@media (prefers-color-scheme: dark) {
    main {
        --background: #1e1e1e;
        --foreground: #ffffff;
        --primary: #007acc;
    }
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-primary: var(--primary);

    --font-sans: var(--sans);
}
