@import "tailwindcss";

main {
    --background: #eeeeee;
    --foreground: #000000;
    --primary: #007acc;

    --accent: #cccccc;
    --accent-2: #999999;

    --sans: "Arial", sans-serif;
}

@media (prefers-color-scheme: dark) {
    main {
        --background: #1e1e1e;
        --foreground: #ffffff;
        --primary: #007acc;

        --accent: #575757;
        --accent-2: #999999;
    }
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-primary: var(--primary);

    --color-accent: var(--accent);
    --color-accent-2: var(--accent-2);

    --font-sans: var(--sans);
}

.nice-scroll::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.nice-scroll::-webkit-scrollbar-track {
    background: transparent;
}

.nice-scroll::-webkit-scrollbar-thumb {
    background: var(--accent);
    border-radius: 4px;
    transition: background 0.3s;
}

.nice-scroll::-webkit-scrollbar-thumb:hover {
    background: var(--accent-2);
}
